@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-break: keep-all;
    /* outline: 1px solid red; */
}
:root{
    font-size: 16px;
}
body{
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 auto;
}
/* 헤더영역 */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 31px;
    justify-content: space-between;
}


.gnb{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 120px;
}
.gnb a {
    font-weight: 700;
    font-size: 1.25rem;
    color: #000;
}
li{
    list-style: none;
}
.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.right a{
    border: 1px solid #000;
    border-radius: 20px;
    font-weight: 500;
    font-size: 0.93rem;
    padding: 6px 30px;
    color: #000;
}
.right a:hover{
    border: 1px solid #EB6220;
    color: #EB6220;
}
.right > select{
    width:59px;
    border: none;
    font-weight: 700;
    font-size: 1.25rem;
}
a{
    text-decoration: none;
}
.fa-bars{
    font-size: 1.87rem;
}
/* 헤더끝 */

/* footer */
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 15px 15px 90px;
    gap: 320px;
    background-color: #333;
}
.footertext{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
}
.footertop{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.footerbuttom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.footerright{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 41px;
}
.sns{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 18px;
    font-size: 1.56rem;
    color: #fff;
}
.sns>a{
    color:#fff;
}
.sns>a:visited {
    color:#fff;
}
a:active {
    color:#fff;
}

.footertop > span:not(:first-child)::before{
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 11px 0 7px;
    vertical-align: -1px;
    background-color: rgba(255, 255, 255, 0.8);
}
.footertop > span{
    font-size: 0.87rem;
    line-height: 0.75rem;
    text-align: center;
    color: #fff;
}
.footertop > span:nth-last-child(1){
    font-weight: 600;
}
.footerbuttom > p {
    font-size: 0.62rem;
    color: rgba(255, 255, 255, 0.8);
    line-height: 0.75rem;
}
.footerbuttom > p:nth-child(2){
    color: #fff;
}

select:nth-child(2){
    width: 230px;
    height: 26px;
    background-color: #fff;
    border-radius: 15px;
    padding-left: 15px;
    }