@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-break: keep-all;
    /* outline: 1px solid red; */
}
:root {
    font-size: 16px;
}
body {
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: #f4f4f6;
    padding: 5px 10px;
}
header.logo{
    width: 50%;
    margin: 0 20px 0 0;;
}
.logo a{
    width: 155px;
    height: 47px;
}
.headerright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    width: 50%;
}
.headerright a {
    border: 1px solid #000;
    border-radius: 20px;
    font-weight: 500;
    font-size: 0.93rem;
    padding: 6px 30px;
    color: #000;
}
.headerright a:hover {
    border: 1px solid #EB6220;
    color: #EB6220;
}
.headerright > select {
    width: 59px;
    border: none;
    font-weight: 700;
    font-size: 1.25rem;
    background-color: #f4f4f6;
}
.headerright .fa-bars{
    display: none;
}
header .mMenuBt{
    display: none;
}
/* nav */
nav{
    font-weight: 700;
    position: relative;
}
nav:hover{
    border-bottom: 1px solid #ccc;
}
nav a:visited{
    color: #000;
}
nav ul.gnb{
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

nav ul.gnb li.gnbMenu {
    /* width: 250px; */
    height: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    /* background-color: aqua; */
}
nav ul.gnb li.gnbMenu .title{
    width: 250px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: block;
    position: relative;
}

nav ul.gnb li.gnbMenu .title::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    top: inherit;
    left: 0;
    bottom: 0;
    background-color: #EB6220;
    transition:  all 0.5s ease-out;
}
nav ul.gnb li.gnbMenu .title:hover::after{
    width: 100%;
    transition: all 0.5s ease-out;
}
/* 모바일용 서브메뉴 숨기기 */
nav ul.gnb ul.mSnb { display: none; } 

/* pc 서브메뉴 */
nav .snb{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 0;
    background-color: #fff;
    overflow: hidden;
    position: absolute;
    top: 60px;
    left:0;
    z-index: 100;
}
nav .gnb:hover .snb{
    height: 250px;
    transition: all 0.5s ease-in-out;
}
nav .snb ul{
    width: 250px;
}
nav .snb ul li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
nav .snb ul li a{
    color: #888;
    font-weight: 500;
}
nav .snb ul li a:hover{
    color: #EB6220;
}
/* sec01슬라이드 */
.sec01 {
    position: relative;
    width: 100%;
}
.swiper-slide {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.sec01bg > img {
    width: 100%;
}
.sec01 .btn_pre, .btn_next {
    position: absolute;
    top: 800px;
    z-index: 10;
    font-size: 1.59rem;
    padding: 12.75px 17.29px;
    color: #fff;
    background: none;
    border: none;
}
.btn_pre {
    left: 1780px;
}
.btn_next {
    left: 1587px;
}
.sec01 > .swiper-pagination {
    color: #fff;
    font-size: 1.75rem;
    font-weight: 700;
    top: 805px;
    width: 121px;
    left: 1648px;
    letter-spacing: 0.75rem;
}
/* sec02 */
.sec02 > .one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 31px;
    padding-top: 50px;
}
.sec02 > .swiper-slide > .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
}
.left > .TextBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 15px;
    gap: 15px;
}
.sec02 > .one > .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
}
.more {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 11px;
}
.TextBox > h2 {
    font-weight: 500;
    font-size: 4.06rem;
    color: #EB6220;
}
.TextBox > p {
    font-weight: 500;
    font-size: 1.12rem;
    text-align: center;
}
.one > img {
    filter: drop-shadow(15px 25px 20px rgba(0, 0, 0, 0.15));
}
.right > img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.more {
    font-weight: 500;
    color: #969696;
}
/* sec02_2 */
.sec02 > .two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.two > .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.two > .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 17px;
}
.two > .right > .TextBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.two > .left > img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5))
}
.two > .right > .TextBox > h2 {
    font-weight: 700;
    font-size: 2.5rem;
}
/* sec02_3 */
.sec02 > .three {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 75px;
}
.three > .center {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    padding-left: 375px;
}
.three > .center > h2 {
    font-weight: 700;
    font-size: 1.87rem;
    color: #EB6220;
}
.three > .center > p {
    font-weight: 500;
    text-align: center;
}
.swiper-slide:nth-child(4) > img {
    filter: none;
}
/* sec02_4 */
.sec02 > .four {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0;
}
.four > .TextBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.four > img {
    filter: none;
}
.four > .TextBox > h2 {
    font-weight: 500;
    font-size: 2.5rem;
    color: #000;
    text-align: center;
}
.four > .TextBox > h2 > b {
    color: #EB6220;
    font-weight: 700;
}
.four > .TextBox > p {
    font-weight: 500;
    text-align: center;
}
.four > img:nth-child(1) {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* sec02_buttom */
.slide02_1 {
    width: 1280px;
    margin: 50px auto;
}
.buttom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    gap: 5px;
    border-radius: 15px;
}
.buttom > img {
    filter: drop-shadow(15px 25px 20px rgba(0, 0, 0, 0.15));
}
.buttom > p {
    font-size: 1.25rem;
    font-weight: 600;
}
.buttom > span {
    color: #EB6220;
}
.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}
i[class*='fa-circle-chevron'] {
    color: #EB6220;
    font-size: 1.71rem;
}
.buttom:hover {
    background: rgba(235, 98, 32, 0.2);
    cursor: pointer;
}
.buttom.on {
    background: rgba(235, 98, 32, 0.2);
    cursor: pointer;
}
/* sec03 */
.sec03 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/sec03_slide_bg.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100%;
}
.inner {
    width: 1280px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    padding: 29px 0 0;
    /* padding: 30px 0 0; */
}
.textBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 30px;
}
.textBox > h3 {
    font-weight: 700;
    font-size: 2.81rem;
}
.textBox > p {
    font-weight: 500;
    font-size: 1.25rem;
    color: #EB6220;
}
.slide03 > .swiper-wrapper > .swiper-slide {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 25px;
}
.slide03 > .swiper-wrapper > .swiper-slide > img {
    filter: brightness(0.5);
}
.videoText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    opacity: 0.5;
}
.videoText > h4 {
    font-weight: 700;
    font-size: 1.5rem;
}
.videoText > p {
    font-weight: 500;
    font-size: 0.93rem;
}
.slide03 .swiper-slide.swiper-slide-active >img{
    filter: brightness(1);
}
.slide03 .swiper-slide.swiper-slide-active >.videoText{
    opacity: 1;
}
.sec03 > .inner button {
    background-color: #EB6220;
    font-weight: 500;
    font-size: 0.93rem;
    padding: 10px;
    border: none;
    color: #fff;
    margin: 22px 0;
    cursor: pointer;
}
.sec03 > .inner button:hover {
    background-color: #fff;
    color: #EB6220;
}
/* sec04 */
.sec04 {
    width: 100%;
    background: #EB6220;
}
.INNer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 280px;
    padding: 0px 30px;
}
.sec04 > .INNer .LEFT {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
.INNer > .LEFT > h4 {
    font-weight: 700;
    font-size: 1.875rem;
    color: #FFFFFF;
}
.LEFT > h4 > b {
    color: #FCF65F;
}
.LEFT > button {
    border: 1px solid #FFFFFF;
    font-weight: 500;
    font-size: 1.06rem;
    width: 188px;
    height: 47px;
    background: none;
    color: #fff;
    cursor: pointer;
}
.sec04 > .INNer > .RIGHT {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 119px;
}
/* sec05  */
.box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 100px 0;
    gap: 20px;
}
.InnerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: #F5F5F5;
    border-radius: 15px;
    padding: 15px 0;
    /* width: 305px; */
}
.sec05 .ib01{
    padding: 15px 107.24px;
}
.sec05 .ib02{
    padding: 15px 105.47px;
}
.sec05 .ib03{
    padding: 15px 105px;
}
.sec05 .ib04{
    padding: 15px 31.9px;
}
.TEXTBOX {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.TEXTBOX h6 {
    font-weight: 700;
    font-size: 1.56rem;
    color: #3A3A3A;
}
.TEXTBOX p {
    font-weight: 500;
    color: #696969;
}
.InnerBox .TEXTBOX {
    transition: 0.3s;
    overflow: hidden;
}
.InnerBox {
    transition: 0.3s;
}
.box .InnerBox:hover .TEXTBOX,
.box .InnerBox:focus .TEXTBOX {
    transform: scale(1.1);
}
.box .InnerBox:hover,
.box .InnerBox:focus {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.topbutton {
    position: fixed;
    z-index: 10;
    left: 90%;
    bottom: 15%;
    width: 100%;
    transition: all 0.5s ease;
    opacity: 0;
    visibility: hidden;
    display: block;
    cursor: pointer;
}
.on {
    opacity: 1;
    visibility: visible;
}
/* footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 15px 15px 90px;
    gap: 320px;
    background-color: #333;
}
.footertext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
}
.footertop {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.footerbuttom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.footerright {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 41px;
}
.sns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 18px;
    font-size: 1.56rem;
    color: #fff;
}
.sns > a {
    color: #fff;
}
.sns > a:visited {
    color: #fff;
}
a:active {
    color: #fff;
}

.footertop > span:not(:first-child)::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 11px 0 7px;
    vertical-align: -1px;
    background-color: rgba(255, 255, 255, 0.8);
}
.footertop > span {
    font-size: 0.87rem;
    line-height: 0.75rem;
    text-align: center;
    color: #fff;
}
.footertop > span:nth-last-child(1) {
    font-weight: 600;
}
.footerbuttom > p {
    font-size: 0.62rem;
    color: rgba(255, 255, 255, 0.8);
    line-height: 0.75rem;
}
.footerbuttom > p:nth-child(2) {
    color: #fff;
}

select:nth-child(2) {
    width: 230px;
    height: 26px;
    background-color: #fff;
    border-radius: 15px;
    padding-left: 15px;
}
.swiper-slide {
    margin: 0;
}