@charset "utf-8";
*{
    /* outline: 1px solid aqua */
}
body{
    min-width: 320px;
    max-width: 640px;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
body .top{
    display: none;
}
.sec01 .sec01_inner .header{
    display: flex;
    flex-direction: column;
    height: 55px;
}
.sec01 .sec01_inner .header .mMenuBt{
    display: block;
    position: absolute;
    top: 28px;
    right: 0;
    padding-right: 5%;
    color: #fff;
    font-size: 1.25rem;
}
.sec01 .sec01_inner .header nav{
    width: 100%;
}
.sec01 .sec01_inner .header .gnb{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    background-color: rosybrown;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    flex-wrap: nowrap;
    display: none;
}
.sec01 .sec01_inner .header .gnb .gnbMenu .title{
    padding: 10px;
}
.mSnb{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.mSnb li{
    padding: 10px;
}
.gnb .gnbMenu{
    width: 100%;
}
/* nav */
.sec01{
    width: 100%;
    padding: 0;
    gap: 0;
    animation: none;
    background-size: cover;
    background-position: 10% 20%;
    padding-bottom: 20px;
}
.sec01 .sec01_inner{
    padding-bottom: 0;
    height: 100%;
    gap: 0;
    align-items: center;
    gap: 10px;
}
.sec01 .sec01_inner .top ,
.sec01 .sec01_inner .bottom{
    animation: none;
}
.sec01 .sec01_inner .top{
    gap: 0;
    align-items: center;
}
.sec01 .sec01_inner .top .textbox{
    padding-top: 0;
    align-items: center;
    gap: 10px;
}
.sec01 .sec01_inner .top .textbox img{
    width: 40px;
}
.sec01 .sec01_inner .top .textbox h1{
    font-size: 1.56rem;
    line-height: 1rem;
    font-weight: 600;
}
.sec01 .sec01_inner .top .textbox p{
    line-height: 1rem;
    font-size: 0.8rem;
    opacity: 0.5;
}
.sec01 .sec01_inner .top .textbox h2{
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
}
.sec01 .sec01_inner .top .subtitle{
    gap: 0;
}
.sec01 .sec01_inner .bottom{
    gap: 20px;
    flex-direction: column;
}
.sec01 .sec01_inner .bottom .bottom_left{
    padding: 0;
    gap: 0;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-top: 1px solid #fff;
    border-right: none;
    padding-top: 10px;
}
.sec01 .sec01_inner .bottom .bottom_left .bottomTitle{
    gap: 0;
}
.sec01 .sec01_inner .bottom .bottom_left .bottomTitle img{
    display: none;
}
.sec01 .sec01_inner .bottom .bottom_left .bottomTitle p{
    font-size: 1.25rem;
    line-height: 1.25rem;
}
.sec01 .sec01_inner .bottom .bottom_left .bottomList{
    gap: 0;
}
.sec01 .sec01_inner .bottom .bottom_left .bottomList p{
    font-size: 0.75rem;
}
.sec01 .sec01_inner .bottom .bottom_right{
    gap: 10px;
    flex-direction: column;
    border-top: 1px solid #fff;
    width: 100%;
    padding-top: 10px;
}
.sec01 .sec01_inner .bottom .bottom_right .right01{
    gap: 0;
}
.sec01 .sec01_inner .bottom .bottom_right .right01 img{
    width: 30px;
}
.sec01 .sec01_inner .bottom .bottom_right .right01 p{
    font-size: 1.25rem;
    line-height: 1.25rem;
}
.sec01 .sec01_inner .bottom .bottom_right .right02{
    justify-content: space-between;
}
.sec01 .sec01_inner .bottom .bottom_right .right02 button{
    padding: 0;
    font-size: 0.75rem;
    line-height: 1rem;
    border-radius: 0;
}